body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.5s;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 5px;
}

body {
  background-color: #fbfbfb;
  color: #4d4d4d;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  line-height: 1.8rem;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

small {
  font-size: 0.833rem;
}

table,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  /* width: 100%; */
  height: auto;
  vertical-align: middle;
}

iframe {
  max-width: 100%;
}

.img-fluid {
  width: 100%;
}

a,
a:hover,
button,
button:hover,
input[type="submit"],
input[type="submit"]:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus {
  text-decoration: none;
}

button,
input,
select,
select option,
textarea,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.active-text,
.active-link,
.active-link:focus {
  color: #0e54a6;
  font-weight: 400;
  display: inline-block;
}

.active-link:hover {
  text-decoration: none;
  color: #0e54a6;
}

a,
dt {
  color: #4d4d4d;
  outline: none;
  text-decoration: none;
}

a:focus,
a:hover,
dt:hover,
dt:focus {
  color: #4d4d4d;
  text-decoration: none;
}

.btn {
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:active,
.btn.active {
  outline: none;
  box-shadow: none;
}

/******** custom-btn ********/
.custom-btn {
  position: relative;
  background: rgb(18, 68, 199);
  border-radius: 0;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 32px;
  transition: all 0.3s ease;
  appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.custom-btn:hover,
.custom-btn:focus {
  background: rgb(25, 75, 206);
  color: #fff;
}

.custom-btn span {
  line-height: 24px;
  font-size: 14px;
  margin-left: 8px;
}

.btn-read {
  display: inline-block;
  position: relative;
  color: #0e54a6;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-read span {
  font-size: 14px;
  margin-left: 10px;
}

.btn-read:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0e54a6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-read:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-read:hover,
.btn-read:focus {
  background-color: none;
  border: none;
  box-shadow: none;
  outline: none;
  color: #0e54a6;
}

.form-group {
  position: relative;
}

input,
textarea,
select,
button {
  outline: none;
  font-size: 0.875rem;
}

input.form-control,
.form-select,
textarea.form-control,
select.form-control,
.form-select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #939393;
  height: 50px;
  font-size: 0.875rem !important;
  padding: 10px !important;
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus,
.form-select:focus,
input:focus,
textarea:focus,
select:focus {
  border: 1px solid rgb(122, 122, 122);
  outline: none;
  box-shadow: none;
  border-color: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-webkit-appearance: textfield;
}

textarea.form-control {
  height: 100px;
}

.form-control.ndate-picker {
  background-color: #ffffff;
}

.form-label {
  margin-bottom: 0.2rem;
}

label {
  display: inline-block;
  font-weight: 400;
  font-size: 0.833rem;
  margin-bottom: 0;
  line-height: 14px;
}

.title-widget {
  position: relative;
  z-index: 1;
}

.title-widget h1,
.title-widget h2,
.title-widget h3,
.title-widget h4,
.title-widget h5,
.title-widget h6 {
  position: relative;
  color: #343434;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  -webkit-animation: animatedIntro 1.5s;
  -ms-animation: animatedIntro 1.5s;
  -o-animation: animatedIntro 1.5s;
  animation: animatedIntro 1.5s;
}

.title-widget h1 span,
.title-widget h2 span,
.title-widget h3 span,
.title-widget h4 span,
.title-widget h5 span,
.title-widget h6 span {
  color: #0e54a6;
}

.tit__sm {
  color: #3b71fe;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.position-relative {
  position: relative !important;
  z-index: 1;
}

.py-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.py-80 {
  padding: 80px 0;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.py-60 {
  padding: 60px 0;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.py-50 {
  padding: 50px 0;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.py-30 {
  padding: 30px 0;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.py-20 {
  padding: 20px 0;
}

.pt-20 {
  padding-top: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-0 {
  padding: 0 !important;
}

.p-s-0 {
  padding-left: 0 !important;
}

.p-e-0 {
  padding-right: 0 !important;
}

.ps-40 {
  padding-left: 40px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

hr {
  background-color: rgba(245, 245, 245);
  opacity: 1;
}

.radius-8 {
  border-radius: 0.5rem;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.web-bg-primary {
  background-color: #0e54a6;
}

.web-bg-light {
  background-color: #f6f6f6;
}

.web-bg-red {
  background-color: #d93972;
}

.opacity-bg {
  background-color: rgba(64, 45, 41, 0.06);
}

.section-content {
  position: relative;
  padding: 50px 0 50px 0;
}

main.section-all {
  min-height: 700px;
}

.container-fluid {
  padding: 0 90px;
}

/******** header ********/
header {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.header-container {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100px;
  background-color: #0e54a6;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: stickyTransition;
  animation-name: stickyTransition;
}

/*.sticky .logo-widget {
	width: 100px;
	height: 120px;
} */

.logo-widget {
  position: relative;
  margin: 10px 0;
  text-align: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-icons-2 {
  margin-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav .navbar-icons-2 .user-dropdown-icon {
  position: relative;
}

.navbar-icons-2 .searchbar-open a, .navbar-icons-2 .user-dropdown-icon a {
  position: relative;
  color: #ffff !important;
}

.navbar-icons-2 .searchbar-open {
  color: #ffff !important;
  margin-right: 30px;
}

.navbar-icons-2 .user-dropdown-icon {
  position: relative;
}

.navbar-icons-2 .user-dropdown-icon i a {
  color: #ffff !important;
  font-size: 20px;
  cursor: pointer;
}

.search-box {
  position: relative;
  vertical-align: middle;
}

.main-nav .navbar-icons-2 .searchbar-open i a, header .header-area .main-nav .navbar-icons-2 .user-dropdown-icon i a {
  color: #ffff !important;
  font-size: 20px;
  cursor: pointer;
}

.openBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
}

.openBtn span {
  color: #ffffff;
  font-size: 16px;
}

.openBtn:hover {
  background: transparent;
}

.overlay {
  height: 300px;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255,1);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 50%;
  text-align: left;
  margin-top: 30px;
  margin: auto;

}

.overlay .closebtn {
  position: absolute;
  top: 58px;
  right: 20px;
  cursor: pointer;
  color: #0e54a6;
  z-index: 99999;
  font-size: 40px;
  background-color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 42px;
  border-radius: 100px;
}

.overlay .closebtn:hover {
  color: #595959;
}

.search-form {
  position: relative;
  border-bottom: 1px solid #0e54a6;
  width: 100%;
}
.overlay input[type="text"] {
  padding: 16px 0;
  font-size: 18px;
  border: none;
  float: left;
  width: 1000%;
  background: white;

}

.overlay input[type="text"]:hover {
  background: white;
}

.overlay button {
  float: left;
  width: auto;
  padding: 15px;
  background: transparent;
  color: #313B4E;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: transparent;
}

.top-rit {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 28px;
  transition: all 0.2s ease-in-out;
}

.h-tp-icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 100%;
  overflow: hidden;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  color: #372f9d;
}

.h-tp-icon span {
  color: #372f9d;
  text-align: center;
}

.h-tp-cnt {
  margin-left: 20px;
}

.tpadd {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
}

.tpcnt {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.tpcnt a {
  color: #ffffff;
}

/**** welcome ****/
.lists h5 {
  color: #0e54a6;
}

.lists ul {
  padding-left: 0;
}

.lists ul li {
  position: relative;
  font-size: 14px;
  list-style: none;
  line-height: 24px;
  margin-bottom: 10px;
  padding-left: 24px;
}

.lists ul li::after {
  position: absolute;
  content: "\f35a";
  left: 0;
  top: 0;
  font-family: "Font Awesome\ 6 Free";
  font-style: normal;
  font-weight: 900;
  color: #b72631;
  font-size: 14px;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.card-box {
  position: relative;
}

.container-card {
  position: relative;
  background-color: transparent;
  display: block;
}

.imgBox {
  position: relative;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.imgBox img {
  object-fit: cover;
  resize: both;
  transition: 0.4s ease;
}

.img280 img {
  height: 280px;
  object-fit: cover;
  resize: both;
  transition: 0.4s ease;
}

.container-card:hover .imgBox img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  transition: 0.4s ease;
}

.sub-tittle {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.package-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.package-info h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #304f47;
}

.package-info h5 span {
  font-size: 20px;
  font-weight: 700;
}

.package-info h5 i {
  font-size: 16px;
  margin-right: 4px;
}

.marker,
.text {
  opacity: 0;
}
.marker {
  stroke-dasharray: 300;
}
.nepal_map_outline {
  stroke-dasharray: 4000;
  opacity: 0;
}
a.button {
  color: #36a7d8;
  cursor: pointer;
  border: 2px solid #36a7d8;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-top: 30px;
  padding: 6px 10px;
  text-transform: uppercase;
}
a.button:hover {
  background: #36a7d8;
  border-color: #36a7d8;
  color: #fff;
}
.zone {
  opacity: 0;
  cursor: pointer;
}
.zone.hover {
  fill: #ccc;
}

.about-section {
  position: relative;
  background: url(../assets/images/map.png) no-repeat right center;
}


.img310 img {
  height: 310px;
  object-fit: cover;
}

.outlinebtn {
  border-radius: 0;
  border: 1px solid rgb(18, 68, 199);
  color: rgb(18, 68, 199);
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 32px;
  transition: all 0.3s ease;
  appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.outlinebtn:hover {
  background-color: rgb(18, 68, 199);
  border: 1px solid rgb(18, 68, 199);
  color:#fff;
}

/******feature******/
.testi-section {
  position: relative;
  background: #0e54a6 url(../assets/images/map.png) no-repeat left center;
}
.bg-box {
  position: relative;
  background-color: #F8FAFF;
  border-radius: 8px;
}

.bg-box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: url(../assets/images/Vector-testi.png) no-repeat;
  width: 67px;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
.container-testi {
  position: relative;
  padding: 30px 30px 30px 50px;
}

.t-img-box {
  position: relative;
  float: left;
  width:70px;
  height: 70px;
  border-radius: 100%;
}

.quote-icon {
  position: absolute;
  background-color: #d4a418;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  top: -20px;
  right: 20px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  z-index: 1;
}

.quote-icon span {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}


.customize-cover {
	background: linear-gradient(-45deg, #3B71FE, #638EFF, #388e8a, #002688);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  /* padding: 30px 0; */
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.affiliation {
  padding-left: 0;
  margin-bottom: 0;
}
 .affiliation li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
 }

footer {
  position: relative;
}

.footer__tittle {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.cnt-icon {
  background-color: #3162E2;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.cnt-icon span {
  color: #fff;
  font-size: 13px;
}

.cnt-title {
  font-size: 0.875em;
  font-weight: 600;
  color: #402d29;
  display: block;
  line-height: 1.5em;
  text-transform: uppercase;
}

.cnt-text {
  margin-left: 40px;
  font-size: 0.875em;
  color: #1c2539;
  line-height: 1.125em;
  display: block;
}

.cnt-text a {
  color: #1c2539;
}

.cnt-text span {
  display: block;
}

.listing {
  padding-left: 0;
}

.listing li {
  position: relative;
  color: #525E73;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 32px;
}

.listing li a {
  color: #525E73;
}

.listing li a:hover {
  color: #3162E2;
}

.subscribe__text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
}

.subscribe-from {
  position: relative;
}

.subscribe {
  width: 100%;
  position: relative;
}

.subscribe .form-control {
  width: 74%;
  background: transparent;
  border: 1px solid #0e54a6;
  border-radius: 0;
  padding: 0 20px !important;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.subscribe .btn {
  background-color: #0e54a6;
  border-radius: 0;
  color: #fff;
  float: left;
  font-weight: 500;
  padding: 10px;
  width: 24%;
  height: 50px;
}

.line-bg {
  border-top: 1px dashed #D1DEFF;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cpy-info p {
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cpy-info p a {
  color: #808080;
}

.cpy-info p a:hover {
  color: #3162E2;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-icons ul {
  padding-left: 0;
}

.social-icons ul li {
  display: inline-block;
  font-size: 0.875rem;
  text-align: center;
  margin-left: 2px;
}

.social-icons ul li a {
  border-radius: 4px;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0 2px;
  text-align: center;
}

.social-icons ul li:nth-child(1) a {
  background: #1974d0;
  color: #ffffff;
}

.social-icons ul li:nth-child(2) a {
  background: #1596e7;
  color: #ffffff;
}

.social-icons ul li:nth-child(3) a {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  color: #ffffff;
}

.social-icons ul li:nth-child(4) a {
  background: #db0505;
  color: #ffffff;
}

.shareit {
  position: fixed;
  top: 30%;
}

.shareit a {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
	opacity: 0.9;
	transition: opacity 0.15s linear;
  text-decoration: none;
}

.shareit a:hover {
	opacity: 1;
}

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}

.instagram {
  background: #F4810E;
}

.reddit {
  	background: #FF4500;
}

.youtube {
  	background: #cb2027;
}

.pinterest {
  	background: #cb2027;
}

/******** all page css *******/
.site_page-title-inner {
  position: relative;
}

.page-titleShape {
  position: relative;
  padding: 250px 0 150px 0;
  text-align: center;
}

.page-titleShape::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, #070707 3.98%, rgba(7, 7, 7, 0) 127.57%); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
  background-size: cover !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  z-index: 1;
}

.page-title {
  position: relative;
  z-index: 2;
}

.page-title ul li {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 0;
}

.page-title ul li a {
  color: #d4a418;
}

.page-title ul li + li::before {
  content: "\f054";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 10px;
  display: inline-block;
  margin: 0 5px 0 8px;
}

.page-title h3 {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}

ul.list-item {
  padding-left: 0 !important;
}

.list-item li {
  position: relative;
  color: #393939;
  font-size: 16px;
  font-weight: 500;
  list-style: disc;
  list-style-position: inside;
  line-height: 32px;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn_1 {
  border: 1px solid #0e54a6;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 20px;
}

.btn-icon {
  width: 15px;
  height: 15px;
  stroke: #0e54a6;
}

.btn_1:hover {
  background-color: #0e54a6;
}

.btn_1:hover .btn-icon {
  stroke: #fff;
}

.page-link:link,
.page-link:visited {
  text-decoration: none;
  color: #0e54a6;
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  border: 1px solid #0e54a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #0e54a6;
  color: #fff;
}

.searchwrap {
  display: inline-block;
}

.mbl-screen,
.screen-sm {
  display: none;
}

.pe-20 {
  padding-right: 20px;
}

.img170 img {
  height: 170px;
  object-fit: cover;
}

.values-wrapper {
  position: relative;
  background-color: #3b0b6a;
  padding: 40px 30px;
  height: 100%;
}

.vision-wrapper {
  position: relative;
  background-color: #32085b;
  padding: 40px 30px;
  height: 100%;
}

.v-info h6 {
  color: #ffffff;
}

.v-info p {
  color: #ffffff;
}

.sidebar-card {
  background-color: rgba(188, 150, 226, 0.4);
  padding: 10px 20px;
}

.navside ul {
  padding-left: 0;
}
.navside ul li {
  display: block;
}

.navside ul li a {
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #0e54a6 !important;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 14px;
  margin-bottom: 5px;
}

.navside ul li a.active {
  background-color: #0e54a6;
  color: #fff !important;
}

.navside ul li a.active i {
  color: #fff !important;
}

.navside ul li i {
  color: #ffffff;
  margin-right: 10px;
}

.navside ul li a:hover {
  background-color: #0e54a6;
  color: #fff !important;
}

.navside ul li a:hover i {
  color: #fff !important;
}

.nabside {
  padding: 20px;
}

.section-table {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-1 {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding-bottom: 32px;
  margin-top: 0;
}

.container-1:before {
  content: "";
  position: absolute;
  height: 32px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, transparent 16px, white 0),
    linear-gradient(45deg, transparent 16px, white 0);
  background-size: 22px 32px;
}


.widget-cloud ul {
  padding-left: 0;
}

.widget-cloud ul li {
  display: inline-block;
  list-style: none;
}
.widget-cloud ul li a {
  border: 1px solid rgb(18, 68, 199);
  color: rgb(18, 68, 199);
  display: inline-block;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 20px;
  text-align: center;
  margin: 5px 2px;
}

.widget-cloud ul li a { 
  color: rgb(18, 68, 199);
}

.widget-cloud ul li a:hover { 
  background-color: rgb(18, 68, 199);
  border: 1px solid rgb(18, 68, 199);
  color: rgb(255, 255, 255);
}

.widget-cloud ul li a:hover { 
  color: rgb(255, 255, 255);
}

.widget-cloud ul li a:focus { 
  color: rgb(255, 255, 255);
}


.booking-form .trip-info {
  padding-top: 15px;
}
.booking-form .trip-info ul {
  padding-left: 0;
  margin-bottom: 0;
}

.booking-form .trip-info ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-form .trip-info ul li b {
  font-weight: 500;
}
.booking-form .trip-info ul li+li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #dfdfeb;
}

.booking-form .trip-info ul li h6 span {
  display: block;
  color: #6c757d;
  font-size: .8375rem;
  font-weight: 400;
  padding-top: 2px;
}

.booking-form .trip-info ul li p {
  font-weight: 500;
  color: #0e54a6;
}

.scale-75 {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
}



.our-team{
  padding: 20px 15px 30px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
}
.our-team .pic{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
  background: #0e54a6;
  border-radius: 50%;
}
.pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.our-team .title{
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #142037;
  text-transform: capitalize;
  margin: 0 0 7px 0;
}
.our-team .post{
  display: block;
  font-size: 14px;
  color: #3B71FE;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.our-team .social{
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team .social li{
  display: inline-block;
  margin-right: 5px;
}
.our-team .social li a{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: #0e54a6;
  border: 1px solid #0e54a6;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
  background: #0e54a6;
  color: #fff;
}
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}

.toc-list {
  margin: 0;
}
.toc-list {
  padding-left: 25px !important;
}
.toc-list li {
  list-style: decimal;
  font-size: 16px;
  line-height: 30px;
}
/********responsive css*********/

@media (max-width: 1280px) {
  .container {
    max-width: calc(100% - 20px);
  }

  .container-fluid {
    padding: 0 20px;
  }

  .section-content {
    padding: 40px 0;
  }

  .nav-header {
    float: left;
    margin-right: 10px;
  }

  /* .nav-menu > li > a {
    font-size: 12px;
    padding: 30px 8px;
  } */

  .link-nav {
    color: #ffffff;
    margin-left: 20px;
    font-size: 12px;
    padding: 12px 0 0 0;
  }

  .hero-slider {
    width: 100%;
    height: 500px;
  }

  .hero-slider .carousel-cell {
    width: 100%;
    height: 500px;
  }

  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
}

@media (max-width: 1080px) {
  .search-box {
    border-right: none;
    padding-right: 10px;
  }

  .custom-btn {
    font-size: 15px;
    padding: 8px 18px;
  }

  .custom-btn span {
    margin-right: 4px;
  }

  .title-widget h1,
  .title-widget h2,
  .title-widget h3,
  .title-widget h4,
  .title-widget h5,
  .title-widget h6 {
    position: relative;
    font-size: 24px;
    line-height: 32px;
  }

  .top-header ul li {
    font-size: 12px;
    padding-right: 10px;
  }

  .hero-slider .carousel-cell .slide-content .title {
    font-size: 32px;
  }

  /* .nav-menu > li > a {
    color: #fff;
    text-transform: uppercase;
  } */

  .nav_rit {
    margin-right: 40px;
  }
  .nav-menu {
    padding-left: 0px;
  }

  .nav-dropdown > li > a {
    font-size: 13px;
  }

  .ban_text strong {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 992px) {
  .pt-100 {
    padding-top: 40px;
  }

  .pb-100 {
    padding-bottom: 40px;
  }

  .py-80 {
    padding: 40px 0;
  }

  .pb-80 {
    padding-bottom: 30px;
  }

  .py-60 {
    padding: 30px 0;
  }

  .pb-60 {
    padding-bottom: 30px;
  }

  .mt-30 {
    margin-top: 20px;
  }

  .mb-30 {
    margin-bottom: 20px;
  }

  .mt-50 {
    margin-top: 30px;
  }

  .menu_toogle {
    display: none;
  }

  .section-content {
    padding: 30px 0;
  }

  .main_header_area {
    padding-bottom: 0;
  }

  .nav-header {
    margin-right: 0;
  }

  .mbl-screen {
    position: absolute;
    right: 70px;
    top: 30px;
    display: block;
  }

  .navigation-portrait .nav-menus-wrapper {
    width: 300px;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #440f79;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .navigation-portrait .nav-menu > li {
    border-top: solid 1px #4f158a;
  }

  .nav-menu > li > a {
    color: #fff;
  }

  .nav-dropdown > li > a {
    background-color: #4d1486;
  }

  .nav-dropdown > li > a {
    color: #fff;
  }

  .nav-menu > li.focus > a {
    color: #fff;
  }

  .nav-dropdown > li.focus > a {
    color: #d5baf0;
  }

  .submenu-indicator-chevron {
    border-color: transparent #fff #fff transparent;
  }

  .nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #fff #fff transparent;
  }

  .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    border-color: transparent #fff #fff transparent;
  }

  .header-icon ul li {
    font-size: 16px;
    padding-right: 4px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100% - 15px);
    padding: 0 15px;
  }

  .pb-50 {
    padding-bottom: 20px;
  }
  .pt-50 {
    padding-top: 20px;
  }

  .ps-40 {
    padding-left: 0;
  }
  .pt-40 {
    padding-top: 30px;
  }

  .pb-40 {
    padding-bottom: 30px;
  }

  .btn-button {
    font-size: 0.875rem;
    padding: 0.5em 1.4em;
  }

  .title-widget h1,
  .title-widget h2,
  .title-widget h3,
  .title-widget h4,
  .title-widget h5,
  .title-widget h6 {
    position: relative;
    font-size: 24px;
  }

  .sticky {
    position: inherit;
  }

  .navigation-portrait {
    height: inherit;
  }

  .nav-brand img {
    width: 180px;
  }

  .h-tp-icon {
    display: none;
  }

  .menu-bar {
    display: flex;
    justify-content: inherit;
  }

  .menu-link {
    padding: 8px 16px;
  }

  .hero-slider {
    width: 100%;
    height: 400px;
  }
  .hero-slider .carousel-cell {
    width: 100%;
    height: 400px;
  }

  .line-hori::before,
  .line-hori::after {
    display: none;
  }

  .subscribe-wrap {
    padding-bottom: 20px;
  }

  .subscribe .form-control {
    float: inherit;
    width: 100%;
    margin-bottom: 10px;
  }

  .subscribe .btn {
    padding: 10px;
    width: 100%;
  }

  .ban_text strong {
    font-size: 24px;
    line-height: 32px;
  }

  .col-left .top-header {
    display: none;
  }

  .top-header {
    display: none;
  }

  .logo-widget {
    text-align: left;
  }

  .header-icon {
    margin: 30px 50px 25px 20px;
  }

  .top-rit-1 {
    margin-top: 20px;
  }

  .top-rit {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .overlay-content {
    width: 100%;
    margin-top: 30px;
  }

  .pe-0 {
    padding-right: inherit !important;
  }
  .ps-0 {
    padding-left: inherit !important;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  .title-widget h1,
  .title-widget h2,
  .title-widget h3,
  .title-widget h4,
  .title-widget h5,
  .title-widget h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .title-widget h1 span,
  .title-widget h2 span,
  .title-widget h3 span,
  .title-widget h4 span,
  .title-widget h5 span,
  .title-widget h6 span {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 400;
  }

  .mbl-screen {
    top: 20px;
  }

  /* .nav-toggle {
    top: -55px;
  } */

  .openBtn {
    font-size: 20px;
    vertical-align: middle;
    width: auto;
    height: auto;
    line-height: auto;
    border-radius: inherit;
    border: none;
    text-align: center;
  }

  .top-rit {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .values-wrapper {
    padding: 20px;
  }

  .vision-wrapper {
    padding: 20px;
  }

  .p-s-0 {
    padding-left: 12px !important;
  }

  .p-e-0 {
    padding-right: 12px !important;
  }
}

@media (max-width: 480px) {
  .nav-toggle {
    top: 36px;
  }

  .nav-brand img {
    width: 80px !important;
  }

  .search-box {
    border-right: none;
    /* padding-right: 40px; */
  }

  .nav_rit {
    margin-right: 25px;
  }

  .search-box {
    margin-left: 20px;
  }

  .t-img-box {
    position: relative;
    float: inherit;
    width: 80px;
    height: 80px;
  }

  .client-info {
    margin-left: 0;
  }

  .quote-icon {
    width: 30px;
    height: 30px;
  }

  .quote-icon span {
    font-size: 20px;
  }

  .quote-icon {
    line-height: 30px;
  }

  .container-testi {
    padding: 15px 30px 20px 30px;
  }

  .cnt-content-wrap {
    display: inherit;
    align-items: center;
  }

  .bg-box::before {
    display: none;
  }

  .hero-slider .carousel-cell .slide-content .title {
    font-size: 24px;
  }

  .hero-slider .carousel-cell .slide-content .caption {
    font-size: 14px;
  }

  .tpcnt {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
  }
}
